/* Reset */
* {
    /* Alternative box model */
    box-sizing: border-box;

    /* Reset padding and margin on all elements */
    padding: 0; 
    margin: 0;
}

/* Typography */ 
html {
    font-size: 18px;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.55;
    color: rgb(60, 58, 71);
}

h1 {
    font-size: 3.15rem;
    font-weight: 700;
    letter-spacing: -2px;
}

h2 {
    font-size: 1.75rem;
    font-weight: 300;
    letter-spacing: -1px;
    color: rgba(60, 58, 71, .8);
}

h3 {
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: -2px;
    margin-bottom: 2rem;
}

h3.large {
    font-size: 3.15rem;
}

.dark h3 {
    color: white;
}

h4 {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1.33rem;
}

p {
    margin-bottom: 1.3rem;
}

p.section-intro {
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.dark p.section-intro {
    color: rgba(255, 255, 255, .8)
}

p.number {
    font-size: 2.4rem;
    font-weight: 200;
    color: rgba(60, 58, 71, .5)
}

p.large {
    font-size: 1.75rem;
    font-weight: 200;
    letter-spacing: -1px;
    color: rgb(60, 58, 71);
}

a {
    font-weight: 700;
    text-decoration: none;
    color: rgb(166, 116, 82);
}

a:hover {
    color:rgb(60, 58, 71);
}

form input, 
form textarea, 
font button {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 1.55;
}

/* Container */
 .container {
    width: 85%;
    margin: 0 auto;
}

.container.small {
    width: 60%;
    max-width: 35rem;
}

/* Header */
#main-header, section, #default-page, section{
    padding: 13rem 0;
    text-align: center;
}

#main-header h1, #default-page h1{
    margin: 7rem 0 1rem 0;
}

#main-header h2, #default-page h2{
    margin-bottom: 7rem;
}

.btn {
    padding: 1.3rem 3.5rem;
    border: 1px solid rgb(159, 118, 87);
    font-weight: 700;
}

.btn:hover {
    background-color: rgb(60, 58, 71);
    border-color:rgb(60, 58, 71);
    color: white;
}

/* Chair section */
#our-chairs {
    background-color: rgb(239, 240, 234);
}

section header {
    margin-bottom: 3.5rem;
}

h3+p {
    max-width: 35rem;
    margin-left: auto;
    margin-right: auto;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.5rem;
    margin-top: 3.5rem;
}

img {
    max-width: 100%;
}

.gallery div {
    text-align: start;
}

.gallery img {
    margin-bottom: 1.3rem;
}

/* Contact */
.dark {
    background-color: rgb(60, 58, 71);
}

.dark label {
    color: rgba(255, 255, 255, .8);
}

form div {
    margin-bottom: 1.75rem;
}

form label {
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: start;
    margin-bottom: .5rem;
}

form input, form textarea {
    background-color: rgba(255, 255, 255, .1);
    border: none;
    padding: 1rem;
    width: 100%;
    color: white;
    resize: none;
}

form input:focus, 
form textarea:focus {
    outline: none;
    background-color: rgba(255, 255, 255, .2);
}

form button {
    width: 100;
    cursor: pointer;
}

.dark .btn {
    border: 1px solid rgba(255, 255, 255, .8);
    background: transparent;
    color: rgb(255, 255, 255);
}

.dark .btn:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(60, 58, 71);
}

p.myted {
    color: rgba(255, 255, 255, .5);
}

form button + p {
    margin-top: 1.75rem;
}

/* Visit store */
.social-class {
    list-style: none; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

p.large + .social-class {
    margin-top: 7rem;
}

footer {
    padding: 5rem 0;
    text-align: center;
}


/* Wireframe */

/* Header */
#wireframe-header, section {
    padding: 7.5rem 0;
    text-align: center;
}

#wireframe-header h1 {
    margin: 7rem 0 1.5rem 0;
}

#wireframe-header h2 {
    margin-bottom: 3rem;
}

.btn-wireframe {
	font-family: 'Roboto', sans-serif;
	color: rgb(0, 0, 0);
    padding: 1.4rem 2rem;
	background-color: rgb(189, 189, 189);
    font-weight: 400;
}

.btn-wireframe:hover {
	font-family: 'Roboto', sans-serif;
    border-color:rgb(189, 189, 189);
	background-color: rgb(255, 255, 255);
}

/* Chair section */

section header {
    margin-bottom: 3.5rem;
	font-family: 'Roboto', sans-serif;
}

h3+p {
	font-family: 'Roboto', sans-serif;
    max-width: 35rem;
    margin-left: auto;
    margin-right: auto;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.5rem;
    margin-top: 3.5rem;
}

img {
    max-width: 100%;
}

.gallery div {
    text-align: start;
}

.gallery img {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 2rem;
}

/* Contact */
.grey {
	font-family: 'Roboto', sans-serif;
	font-size: 1.35rem;
	font-weight: 400;
    color: rgb(55, 55, 55);
    background-color: rgb(189, 189, 189);
    width: 90%;
    padding-left: auto;
    padding-right: auto;
    margin-left: auto;
    margin-right: auto;
}

.grey .btn {
    padding: 1.35rem;
    font-size: 1rem;
	font-weight: 400;
    border: 1px solid rgba(255, 255, 255, .8);
    background: transparent;
    background-color: rgb(2, 1, 1);
    color: rgb(255, 255, 255);
}

.grey .btn:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(60, 58, 71);
}

p.myted {
    color: rgba(255, 255, 255, .5);
}

/* default landing page */

/* Contact */
.brown {
    color: rgb(255, 255, 255);
    background-color: rgb(159, 118, 87);
}

.brown .order {
    font-size: 1.32rem;
    font-weight: 100;
    padding-bottom: 2rem;
}

.brown .btn {
    padding: 1.35rem;
    font-size: 1rem;
    border: 1px solid rgba(255, 255, 255, .8);
    background: transparent;
    color: rgb(255, 255, 255);
}

.brown .btn:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(60, 58, 71);
}

p.myted {
    color: rgba(255, 255, 255, .5);
}

/* coming soon */
#coming-soon {
    background-color: rgb(239, 240, 234);
}

.coming-soon {
    text-align: start;
    display: grid;
				grid-template-columns: 1fr 1fr;
				justify-items: center;
				align-items: center;
				gap: 8rem;
}

.logo-coming-soon {
    padding: 7rem 0 0 7rem;
}

.coming-soon p.section-intro {
    color: rgba(60, 58, 71, 0.8);
    font-weight: 275;
}

.coming-soon h1 {
    font-weight: 700;
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
}

.coming-soon form input {
    background-color: rgb(255, 255, 255);
    border: none; 
    width: 18rem;
}

.label input {
    margin-right: 1rem;
}

.coming-soon form input:focus {
    outline: none;
    color: rgba(60, 58, 71, 0.8);
}

.coming-soon .btn {
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    border: 1px solid rgb(159, 118, 87);
    background: transparent;
    color: rgb(159, 118, 87);
}

.coming-soon .btn:hover {
    background-color: rgb(159, 118, 87);
    color: rgb(255, 255, 255);
}

.coming-soon .mytedi {
    color: rgb(60, 58, 71);
    text-align: start;
}

.coming-soon .social-class {
    margin-top: 10rem;
    list-style: none; 
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2.5rem;
}

/* Responsive */
@media screen and (max-width: 600px) {
    h1, 
    h3.large {
        font-size: 2.3rem;
    }

    h2, 
    p.large {
        font-size: 1.3rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    .container.small {
        width: 85%;
    }

    #main-header, 
    section {
        padding: 6rem 0;
    }

    footer {
        padding: 2.5rem 0;
    }

    p.large + .social-class {
        margin-top: 3.5rem;
    }

    #main-header h1 {
        margin-top: 3.5rem;
    }
}

@media screen and (max-width: 800px){
    .gallery {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

@media screen and (max-width: 1500px) {
    .coming-soon .btn {
        display: inline-block;
        margin-top: 1rem;
    }

    .coming-soon {
        grid-template-columns: 100%;
        gap: 4rem;
    }

    #chair-illustration {
        order: -1;
    }

    h1, 
    h2 {
        margin-bottom: 2rem;
    }
}